.clock {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
  transition: all 0.5s;
  .clockPart {
    .message {
      font-size: 22px;
      display: flex;
      color: #fff;
      margin-bottom: 15px;
      gap: 10px;
      align-items: center;
    }
    .time {
      font-size: 100px;
      color: #fff;
      display: flex;
      h2 {
        display: flex;
        align-items: center;
        font-size: 55px;
      }
    }
    .location {
      color: #fff;
      font-size: 22px;
    }
  }
  .moreButton {
    margin-top: auto;
    .btn {
      cursor: pointer;
      display: flex;
      background-color: rgb(255, 255, 255);
      width: 90px;
      border-radius: 40px;
      padding: 7px 10px;
      justify-content: space-between;
      // align-items: ;
      gap: 10px;
      h6 {
        font-size: 14px;
        align-self: center;
      }
      svg {
        display: block;
      }
    }
  }
}
