.header {
  color: #fff;
  width: 100%;

  &.expanded {
    display: none;
  }
  .quote {
    max-width: 600px;
    display: flex;
    // justify-content: center;
    align-items: start;
    margin-bottom: 10px;
    .refresh {
      cursor: pointer;
      margin-left: 20px;
      background: none;
      border: none;
      width: 23px;
      height: 25px;
      // padding: 10px;
      .loading {
        padding: 10px;
        transition: transform 0.3s;
        transform-origin: center;
        transform: rotate(360deg);
        transition: all 1s;
      }
    }
  }
}
@media (max-width: 1200px) {
  .header {
    .quote {
      font-size: 15px;
    }
  }
}
@media (max-width: 587px) {
  .header {
    .quote {
      font-size: 13px;
    }
  }
}
